<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



@*<form action="https://shabibafateh.com/Home/Search" method="post">
    <button class="btn btn-primary mr-sm" type="submit">فحص</button>
    <input required="" type="number" name="seatNumber" id="seatNumber" class="btn btn-primary btn-white" placeholder="ادخل رقم الجلوس المكون من 6 أو 8 خانات">
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AubaNblZqhGk65yi4dNn08aSOIAUzLM_zqOK-5zP5zqDsbdfSAqLZAwKUmDYMGJvcAtQjIFc2xO7GtjxLGsqvLit-3fDGKDTuL8z2Si1q_a6E7o9hi-HA9mJHTp1F8cvt40WXxQp4ZBSf0p4f7jGo8">
</form>*@