@{
    ViewData["Title"] = "Not Found";
}

<!-- Page Title
============================================= -->
<section class="bg-overlay bg-overlay-gradient pb-0">
	<div class="bg-section">
		<img src="~/assets/images/page-title/2.jpg" alt="Background" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="page-title title-1 text-center">
					<div class="title-bg">
						<h2 style="font-family: Cairo;">404 خطأ</h2>
					</div>
					<ol class="breadcrumb">
						<li>
							<a href="~/" style="font-family: Cairo;">الرئيسية</a>
						</li>
						<li class="active">404</li>
					</ol>
				</div>
				<!-- .page-title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>

<!-- 404
============================================= -->
<section class="error-page text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="error-title">
					<h1>404</h1>
				</div>
			</div>
			<!-- .col-md-6 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="error-content mt-50">
					<p style="font-family: Cairo;">نعتذر ! , هذه الصفحة غير متوفرة !!!</p>
				</div>
			</div>
			<!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end  -->
</section>