@{
    ViewData["Title"] = "عنا";
}

<!-- Page Title
============================================= -->
<section class="bg-overlay bg-overlay-gradient pb-0">
    <div class="bg-section">
        <img src="~/assets/images/shabiba.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-title title-1 text-center">
                    <div class="title-bg">
                        <h2 style="font-family: Cairo;">طالب سنفور</h2>
                    </div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/Home/Index" style="font-family: Cairo; font-size: 15px!important;">الرئيسية</a>
                        </li>
                        <li class="active" style="font-family: Cairo; font-size: 15px!important;">عنا</li>
                    </ol>
                </div>
                <!-- .page-title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<!-- Shortcode #5
============================================= -->
<section id="shortcode-5" class="shortcode-5 pb-50" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                <div class="heading heading-2 text-center">
                    <div class="heading-bg">
                        <p class="mb-0" style="font-family: Cairo; font-size:20px">كل شيء عنا </p>
                        <h2 style="font-family: Cairo;">طالب سنفور</h2>
                    </div>

                </div>
                <!-- .heading end -->
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel-group accordion" id="accordion02" role="tablist" aria-multiselectable="true">

                    <!-- Panel 01 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-1" aria-expanded="true" aria-controls="collapse02-1" style="font-family: Cairo;"> التعريف </a>
                                <span class="icon"></span>
                            </h4>
                        </div>
                        <div id="collapse02-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body" style="font-family: Cairo;">
                                "طالب سنفور" هو منصة رقمية مخصصة لمساعدة طلاب الثانوية العامة في اختيار التخصص الجامعي الأنسب لهم بناءً على معدلاتهم واهتماماتهم. نؤمن بأن الاختيار الصحيح للمستقبل يبدأ بخطوة واعية، ونقدم خدماتنا بشكل بسيط وملهم لتكون قرارات طلابنا مبنية على أسس واضحة وموجهة.
                            </div>
                        </div>
                    </div>

                    <!-- Panel 02 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-2" aria-expanded="false" aria-controls="collapse02-2" style="font-family: Cairo;"> الرؤية </a>
                            </h4>
                        </div>
                        <div id="collapse02-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body" style="font-family: Cairo;">
                                أن نكون الوجهة الأولى لطلاب الثانوية العامة في غزة لتحديد مسارهم الأكاديمي، والمساهمة في بناء جيل واعٍ وطموح يسعى لتحقيق أحلامه بثقة.
                            </div>
                        </div>
                    </div>

                    <!-- Panel 03 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-3" aria-expanded="false" aria-controls="collapse02-3" style="font-family: Cairo;"> الأهداف </a>
                            </h4>
                        </div>
                        <div id="collapse02-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body" style="font-family: Cairo;">
                                - تمكين الطلاب من اتخاذ قرارات مستنيرة بشأن تخصصاتهم الجامعية.
                                <br />
                                - توفير إرشادات شاملة ومعلومات دقيقة عن التخصصات المختلفة ومتطلباتها.
                                <br />
                                - بناء جسور بين الطلاب والجامعات لتسهيل عملية التقديم واختيار التخصص.
                                <br />
                                - تقديم نصائح وتوجيهات مهنية لضمان توافق الخيارات الأكاديمية مع سوق العمل.
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .Accordion-->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm">
                <div class="feature">
                    <img class="img-responsive" src="~/assets/images/features/about.jpg" alt="feature">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="feature">
                    <h4 class="text-uppercase" style="font-family: Cairo;">
                        نحن نراهن :
                    </h4>
                    <p style="font-family: Cairo;font-size:15px">
                  نراهن على الطاقات الشابة والأحلام الكبيرة التي يحملها كل طالب. نثق بأنهم قادة المستقبل، وباختيارهم للمسار الصحيح، يمكنهم تغيير واقعهم وتحقيق إنجازات عظيمة. "طالب سنفور" هنا ليرافقهم في هذه الرحلة الحاسمة.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
